.window-popup{
    background-image: none;
    background-color: #454555;
    border-radius: 5px;
}

window {
    background-image: none;
    background-color: #32323f;
    border-radius: 5px;
}

button {
    background-image: none;
    background-color: #414152;
    color: #787892;
    padding: 10px 20px; 
    border-radius: 5px;
}

button:hover {
    background-color: #4e4e63;
    color: #b2b2dd;
}

.entry-box{
    background-color : #454555;
    color: #b2b2dd;
}